<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masteritsa</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
<div>
    <header class="header" data-sticky="scrollBar" data-sticky-class="show">
        <nav class="nav">
            <div class="container">
                <div class="container-2">
                    <ul class="test-ul">
                        <li class="test-li">
                            <a href="#" class="test-a">Главная</a>
                        </li>
                        <li class="test-li">
                            <a href="#" class="test-a">Товары</a>
                        </li>
                        <li class="test-li">
                            <a href="#" class="test-a">Акции</a>
                        </li>
                        <li class="test-li">
                            <a href="#" class="test-a">О сайте</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
</div>
</body>
</html>