<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Masteritsa</title>
    <link href="../static/css/styleOld.css" rel="stylesheet">
</head>
<body>
<div>
    <header class="header" data-sticky="scrollBar" data-sticky-class="show">
        <nav class="nav">
            <div class="container">
                <a class="logo">
                    <span class="logo-text">Мастерица</span>
                    <img src="../static/assets/logo.svg" alt="Мастерица">
                </a>
                <div class="container-2">
                    <ul class="test-ul">
                        <li class="test-li">
                            <a href="#" class="head-button-style">Главная</a>
                        </li>
                        <li class="test-li">
                            <div class="dropdown">
                                <a href="#" class="head-button-style">Товары</a>
                                <div class="dropdown-content">

                                    <!--Здесь будет Thymeleaf -->
                                    <a href="#">Модель 1</a>
                                    <a href="#">Модель 2</a>
                                    <a href="#">Модель 3</a>

                                </div>
                            </div>
                        </li>
                        <li class="test-li">
                            <a href="#" class="head-button-style">Акции</a>
                        </li>
                        <li class="test-li">
                            <a href="#" class="head-button-style">Отзывы</a>
                        </li>
                        <li class="test-li">
                            <a href="#" class="head-button-style">О сайте</a>
                        </li>
                    </ul>
                    <ul class="login">
                        <li class="test-li">
                            <a href="#" class="head-button-style">Вход</a>
                        </li>
                        <li class="test-li">
                            <a href="#" class="head-button-style">Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
</div>
</body>
</html>