<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Регистрация</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" enctype="multipart/form-data" th:action="@{/registration}" method="post">
        <h2 class="form-signin-heading">Создание аккаунта</h2>
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Неверные учетные данные пользователя.
        </div>
        <div class="alert alert-success" th:if="${param.logout}">
            Выход из аккаунта прошел успешно.
        </div>
        <!-- Поле аватара -->
        <p>
            <label class="col-md-4 control-label" for="file"></label>
            <input type="file" id="file" name="file" class="form-control">
        </p>
        <!-- Поле логина -->
        <p>
            <label for="name" class="sr-only">Логин</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Логин" required=""
                   autofocus="">
        </p>
        <!-- Поле имя -->
        <p>
            <label for="firstName" class="sr-only">Имя</label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Имя" required=""
                   autofocus="">
        </p>
        <!-- Поле фамилии -->
        <p>
            <label for="lastName" class="sr-only">Фамилия</label>
            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Фамилия" required=""
                   autofocus="">
        </p>
        <!-- Поле электронной почты -->
        <p>
            <label for="email" class="sr-only">Адрес электронной почты</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required=""
                   autofocus="">
        </p>
        <!-- Поле пароля -->
        <p>
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Пароль"
                   required="">
        </p>

        <div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Создать аккаунт"/>
        </div>
    </form>
</div>
</body>
</html>